.scrollerInner__36d07 {
    background: rgba(31, 30, 30, 0.8);
}
.container_c8ffbb {
    background: rgba(31, 30, 30, 0.8);
}
.members_c8ffbb {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.content_d125d2 {
    background: rgba(31, 30, 30, 0.8);
}
.itemsContainer_ef3116 {
    background: rgba(31, 30, 30, 0.8);
}
.title_f75fb0 {
    background: rgba(31, 30, 30, 0.8);
}
.childContainer__91a9d {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.container_e131a9 {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.container__37e49 {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.container_791eb8 {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.panel__5dec7 {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.inner__74017 {
    background: rgba(31, 30, 30, 0.8);
}
.openOnHover__0f2e8 {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.usesCardRows__0f2e8 {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.scroller__36d07 {
    background: rgba(31, 30, 30, 0.8);
}
.scroller__629e4 {
    background: rgba(31, 30, 30, 0.8);
}
.scrollableContainer__74017 {
    background: rgba(31, 30, 30, 0.8);
}
.channelBottomBarArea_f75fb0 {
    background: rgba(31, 30, 30, 0.8);
}
.form_f75fb0 {
    background: rgba(31, 30, 30, 0.8);
}
.container__9293f {
    background: rgba(31, 30, 30, 0.8);
    padding: 8px;
}
.children__9293f {
    background: rgba(31, 30, 30, 0.8);
}
.theme-dark .themed__9293f {
    background: rgba(31, 30, 30, 0.8);
}
.header_f37cb1, .headerContent_f37cb1 {
    background: rgba(31, 30, 30, 0.8);
}
.peopleColumn__133bf {
    background: rgba(31, 30, 30, 0.8);
}
.scroller__7d20c {
    background: rgba(31, 30, 30, 0.8);
}
.scroller__6131a {
    background: rgba(31, 30, 30, 0.8);
}
.contentHeader_e9e3ed {
    background: rgba(31, 30, 30, 0.8);
}
.sidebar__409aa {
    background: rgba(31, 30, 30, 0.8);
}
.scrollerBase_d125d2 {
    background: rgba(31, 30, 30, 0.8);
}
.fixedContent__409aa:after {
    background: rgba(31, 30, 30, 0.8);
}
.itemCard__7e549 {
    background: rgba(31, 30, 30, 0.8);
    filter: drop-shadow(0 1px 1px rgba(208, 195, 255, 1));
}
.sidebar__5e434 {
    background: rgba(31, 30, 30, 0.8);
}
.theme-dark .themed__5e434 {
    background: rgba(31, 30, 30, 0.8);
}
.sidebar__5e434:after {
    background: rgba(31, 30, 30, 0.8);
}
.privateChannels_e6b769 {
    background: rgba(31, 30, 30, 0.8);
}
.appMount__51fd7, body {
    background: rgba(31, 30, 30, 0.8);
}
.container__2637a {
    background: rgba(31, 30, 30, 0.8);
}
