/**
 * @name Don's Custom Theme
 * @author Don
 * @version 1.0
 * @description A custom Discord theme by Don.
 */

@import url("https://raw.githubusercontent.com/DonPanino/Discord-Theme/refs/heads/main/custom.css");
